*,
*::before,
*::after {
    box-sizing: border-box;
}   

:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

html, body { height: 100%; }

body {
    margin:0;
}
/* Wrapper for whole page*/
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header section */
.header {
    padding: 6px;
    height: 60px;
    display: flex;
    align-items: center;
}
.header a {
    text-decoration: none;
    color: rgb(34, 34, 34);
}
.header a:hover {
    text-decoration: underline;
}

.header_left-container {
    flex: 1;
    text-align: left;
}
.header_right-container {
    flex: 2;
    text-align: right;
    align-items: center;
}
.header_left {
    padding: 10px;
    vertical-align: middle;
}
.header_right {
    font-size: 13px;
    padding: 10px;
    vertical-align: middle;
}

#apps-icon:hover {
    opacity: 60%;
}

/* Google apps - material icon */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons-outlined{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    vertical-align: middle;
}

.logo {
    align-self: center;
    padding: 40px;
    margin-top: 5em;
}

/* Search box section */

.main {
    flex: 1;
}

/* Footer section */
.footer {
    background-color: rgb(242, 242, 242);
}

.footer_links {
    display: flex;
}

hr {
    /* transform: rotate(90deg); */
    width: 100%;
    border-top: 1px solid rgb(218, 220, 224);
    border-bottom: transparent;
    border-left: transparent;
    border-right: transparent;
}

.country {
    padding: 10px 25px;
    margin-top: 0.6em;
    color: rgba(0, 0, 0, 0.54);
}

.carbon-neutral {
    justify-content: center;
    color: rgba(0, 0, 0, 0.54);
    display: flex;
    padding: 15px;
}
.carbon-neutral-logo {
    content: url(/images/cn-logo.png);
    align-self: bottom;
    margin-right: 0.3em;
    width: 14px;
    height: 14px;
}
.carbon-neutral-text {
    text-align: center;
}
