*,
*::before,
*::after {
    box-sizing: border-box;
}   

:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

html, body { height: 100%; }

body {
    margin:0;
}
/* Wrapper for whole page*/
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header section */
.header {
    padding: 6px;
    height: 60px;
    display: flex;
    align-items: center;
}
.header a {
    text-decoration: none;
    color: rgb(34, 34, 34);
}
.header a:hover {
    text-decoration: underline;
}

.header_left-container {
    flex: 1;
    text-align: left;
}
.header_right-container {
    flex: 2;
    text-align: right;
    align-items: center;
}
.header_left {
    padding: 10px;
    vertical-align: middle;
}
.header_right {
    font-size: 13px;
    padding: 10px;
    vertical-align: middle;
}

#apps-icon:hover {
    opacity: 60%;
}

.account-icon {
    content: url(/images/me.jpg);
    width: 32px;
    height: 32px;
    vertical-align: middle;
    border-radius: 50%;
}

.account-icon:hover {
    box-shadow: 2px 2px 0 rgba(0,0,0,.15);
}

/* Google apps - material icon */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons-outlined{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    vertical-align: middle;
}

.logo {
    align-self: center;
    padding: 30px;
    margin-top: 10em;
}

/* Search box section */

.main {
    flex: 1;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-box-container {
    justify-content: center;
    padding: 5px;
    max-height: 160px;
    max-width: 584px;
    border: 1px solid red;
}
.search-icon {
    color: rgba(0, 0, 0, 0.54);
}
.search-box {
    height: 34px; 
    width: 400px;
    /* border: none; */
    outline: none;
    background-color: transparent;
    word-wrap: break-word;
}

button {
    background-color: rgb(248, 249, 250);
    border-bottom-color: rgb(248, 249, 250);
    border: 1px solid rgb(248, 249, 250);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    color: rgb(32, 33, 36);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    padding: 10px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 11px
}

button:hover {
    box-shadow: 0 2px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}


/* Footer section */
.footer {
    background-color: rgb(242, 242, 242);
    display: flex;
    flex-direction: column;
    padding: 6px;
}

.country {
    padding: 15px 30px;
    color: rgba(0, 0, 0, 0.54);
    border-bottom: 1px solid rgb(218, 220, 224);
}

.carbon-neutral-container {
    justify-content: center;
    color: rgba(0, 0, 0, 0.54);
    display: flex;
    padding: 15px;
}
.carbon-neutral-logo {
    content: url(/images/cn-logo.png);
    align-self: bottom;
    margin-right: 0.4em;
    width: 14px;
    height: 14px;
}
.carbon-neutral-text {
    text-align: center;
}

.footer_links {
    display: flex;
    height: 35px;
}
.footer_left-container {
    flex: 1;
    padding: 10px;
    align-items: center;
    margin-left: 6em;
}
.footer_right-container {
    flex: 1;
    padding: 10px;    
    align-items: center;
    text-align: right;
    margin-right: 6em;
}

.footer_left {
    padding: 15px;
}
.footer_right {
    padding: 15px;
}

.footer a {
    text-decoration: none;
    color: rgb(112, 117, 122)
}
.footer a:hover {
    text-decoration: underline;
    color: #70757a;
}